.product-detail-container {
	padding: 25px;
	width: calc(100% - 50px);
	color: var(--black);
}

.product-detail-container .title {
	margin-bottom: 20px;
}

#product-info-container {
	display: flex;
	gap: 25px;
}

#product-info-container > form {
	flex: 1;
}

#product-picture-container {
	display: flex;
	flex-direction: column;
	gap: 13px;
}
#product-picture {
	width: 450px;
	height: 450px;
	object-fit: cover;
}
#product-gallery-container {
	width: 450px;
	display: flex;
	gap: 13px;
	overflow: auto;
}
#product-gallery-container img {
	width: 79.6px;
	height: 79.6px;
	box-sizing: border-box;
	object-fit: cover;
	cursor: pointer;
	transition: all 0.3s ease;
}
#product-gallery-container img:not(.selected):hover {
	filter: brightness(0.8);
}
#product-gallery-container img.selected {
	border: solid 4px var(--button-light-green);
}

#product-name {
	font-size: 20px;
	color: var(--black);
	line-height: 1.3;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 13px;
}

#product-brief-review-container {
	display: flex;
	align-items: center;
	color: var(--dark-gray);
	font-size: 16px;
	margin-bottom: 20px;
}

#product-brief-review-container .divider-vertical {
	height: 25px;
	margin: 0 20px;
}

.rating-value {
	margin-top: 3px;
	margin-right: 7px;
}
.rating-stars-container {
	display: flex;
	width: max-content;
}
.rating-stars-container .empty-star {
	background-image: url(/src/img/icon/star_empty.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px;
}
.rating-stars-container .star-setter {
	overflow: hidden;
	height: 100%;
}
.rating-stars-container .empty-star:nth-child(1) .star-setter {
	width: calc(var(--rating-star-value) * 100%);
}
.rating-stars-container .empty-star:nth-child(2) .star-setter {
	width: calc((var(--rating-star-value) * 100%) - (1 * 100%));
}
.rating-stars-container .empty-star:nth-child(3) .star-setter {
	width: calc((var(--rating-star-value) * 100%) - (2 * 100%));
}
.rating-stars-container .empty-star:nth-child(4) .star-setter {
	width: calc((var(--rating-star-value) * 100%) - (3 * 100%));
}
.rating-stars-container .empty-star:nth-child(5) .star-setter {
	width: calc((var(--rating-star-value) * 100%) - (4 * 100%));
}
.rating-stars-container[data-rating="0"] .empty-star:nth-child(1) .star-setter {
	width: 0%;
}
.rating-stars-container[data-rating="1"] .empty-star:nth-child(1) .star-setter,
.rating-stars-container[data-rating="2"] .empty-star:nth-child(1) .star-setter,
.rating-stars-container[data-rating="3"] .empty-star:nth-child(1) .star-setter,
.rating-stars-container[data-rating="4"] .empty-star:nth-child(1) .star-setter,
.rating-stars-container[data-rating="5"] .empty-star:nth-child(1) .star-setter {
	width: 100%;
}
.rating-stars-container[data-rating="0"] .empty-star:nth-child(2) .star-setter,
.rating-stars-container[data-rating="1"] .empty-star:nth-child(2) .star-setter {
	width: 0%;
}
.rating-stars-container[data-rating="2"] .empty-star:nth-child(2) .star-setter,
.rating-stars-container[data-rating="3"] .empty-star:nth-child(2) .star-setter,
.rating-stars-container[data-rating="4"] .empty-star:nth-child(2) .star-setter,
.rating-stars-container[data-rating="5"] .empty-star:nth-child(2) .star-setter {
	width: 100%;
}
.rating-stars-container[data-rating="0"] .empty-star:nth-child(3) .star-setter,
.rating-stars-container[data-rating="1"] .empty-star:nth-child(3) .star-setter,
.rating-stars-container[data-rating="2"] .empty-star:nth-child(3) .star-setter {
	width: 0%;
}
.rating-stars-container[data-rating="3"] .empty-star:nth-child(3) .star-setter,
.rating-stars-container[data-rating="4"] .empty-star:nth-child(3) .star-setter,
.rating-stars-container[data-rating="5"] .empty-star:nth-child(3) .star-setter {
	width: 100%;
}
.rating-stars-container[data-rating="0"] .empty-star:nth-child(4) .star-setter,
.rating-stars-container[data-rating="1"] .empty-star:nth-child(4) .star-setter,
.rating-stars-container[data-rating="2"] .empty-star:nth-child(4) .star-setter,
.rating-stars-container[data-rating="3"] .empty-star:nth-child(4) .star-setter {
	width: 0%;
}
.rating-stars-container[data-rating="4"] .empty-star:nth-child(4) .star-setter,
.rating-stars-container[data-rating="5"] .empty-star:nth-child(4) .star-setter {
	width: 100%;
}
.rating-stars-container[data-rating="0"] .empty-star:nth-child(5) .star-setter,
.rating-stars-container[data-rating="1"] .empty-star:nth-child(5) .star-setter,
.rating-stars-container[data-rating="2"] .empty-star:nth-child(5) .star-setter,
.rating-stars-container[data-rating="3"] .empty-star:nth-child(5) .star-setter,
.rating-stars-container[data-rating="4"] .empty-star:nth-child(5) .star-setter {
	width: 0%;
}
.rating-stars-container[data-rating="5"] .empty-star:nth-child(5) .star-setter {
	width: 100%;
}
.rating-stars-container .star {
	background-image: url(/src/img/icon/star.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

#product-rating-count::after {
	content: " Review";
}

#product-sold-count::after {
	content: " Sold";
}

#product-price {
	margin-bottom: 20px;
	font-size: 30px;
	color: var(--light-green);
}

#product-price::before {
	content: "RM ";
	font-size: 20px;
}

#input-grid-container {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 20px;
	align-items: baseline;
}

#input-grid-container .form-group:nth-child(5),
#input-grid-container .form-group:nth-child(6) {
	margin-bottom: 0;
}

#input-grid-container .form-input {
	width: 150px;
}

#product-stock-count {
	font-size: 14px;
	color: var(--button-dark-green);
	margin-left: 12px;
	white-space: nowrap;
}

#product-stock-count::after {
	content: attr(data-stock) " stock available";
}

#product-stock-count[data-stock="0"]::after {
	color: var(--error-dark-red);
	content: "No stock available";
}

#product-stock-count[data-stock="getting"]::after {
	color: var(--dark-gray);
	content: "Getting stock count...";
}

#product-stock-count[data-stock="failed"]::after {
	color: var(--error-dark-red);
	content: "Failed to get stock count";
}

#product-stock-count[data-stock=""] {
	display: none;
}

#product-info-container .form-error {
	margin-bottom: 30px;
}

#product-info-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#add-to-favourite-button {
	width: 24px;
	height: 24px;
	background-image: url(/src/img/icon/favourite_border.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s ease;
}

#add-to-favourite-button.favourite {
	background-image: url(/src/img/icon/favourite.png);
}

#add-to-favourite-button:hover {
	filter: brightness(0.8);
}

#product-description {
	white-space: pre;
}

#product-review-container {
	margin-bottom: 0;
}

#review-head-container {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

#filter-review-container {
	margin-left: 25px;
}

#own-review-container {
	display: flex;
	gap: 15px;
	align-items: center;
}

#own-review-container .form-group {
	margin: 0;
}

.pfp-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

#own-review-input-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#own-review-input-container .empty-star {
	cursor: pointer;
}

#own-review-input-container:has(input[readonly]) {
	pointer-events: none;
}

#own-review-input-container:has(.empty-star:nth-child(1):hover) .empty-star:nth-child(1) .star-setter {
	width: 100%;
	filter: brightness(0.8);
}
#own-review-input-container:has(.empty-star:nth-child(2):hover) .empty-star:nth-child(1) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(2):hover) .empty-star:nth-child(2) .star-setter {
	width: 100%;
	filter: brightness(0.8);
}
#own-review-input-container:has(.empty-star:nth-child(3):hover) .empty-star:nth-child(1) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(3):hover) .empty-star:nth-child(2) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(3):hover) .empty-star:nth-child(3) .star-setter {
	width: 100%;
	filter: brightness(0.8);
}
#own-review-input-container:has(.empty-star:nth-child(4):hover) .empty-star:nth-child(1) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(4):hover) .empty-star:nth-child(2) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(4):hover) .empty-star:nth-child(3) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(4):hover) .empty-star:nth-child(4) .star-setter {
	width: 100%;
	filter: brightness(0.8);
}
#own-review-input-container:has(.empty-star:nth-child(5):hover) .empty-star:nth-child(1) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(5):hover) .empty-star:nth-child(2) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(5):hover) .empty-star:nth-child(3) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(5):hover) .empty-star:nth-child(4) .star-setter,
#own-review-input-container:has(.empty-star:nth-child(5):hover) .empty-star:nth-child(5) .star-setter {
	width: 100%;
	filter: brightness(0.8);
}

#send-review-button {
	display: none;
	width: 30px;
	height: 30px;
	background-image: url(/src/img/icon/send.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s ease;
}
#send-review-button.show {
	display: block;
	pointer-events: all;
}
#send-review-button:hover {
	filter: brightness(3);
}

#delete-review-button {
	display: none;
	width: 30px;
	height: 30px;
	background-image: url(/src/img/icon/delete.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s ease;
}
#delete-review-button.show {
	display: block;
	pointer-events: all;
}
#delete-review-button:hover {
	background-image: url(/src/img/icon/delete_red.png);
}

.review-container {
	display: flex;
	gap: 15px;
	font-size: 14px;
	margin-top: 30px;
}

.review-container .user-info {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 5px;
	overflow: hidden;
}

.review-container .name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.review-container .rating-stars-container .empty-star,
.review-container .rating-stars-container .star {
	width: 12px;
	height: 12px;
}
.review-container .rating-stars-container .empty-star {
	margin: 0 2px;
}

.review-container .log-entry {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--dark-gray);
	margin-bottom: 5px;
	font-size: 13px;
}

.review-container .comment {
	text-align: justify;
	margin: 0;
}

.review-container .helpful {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}

.helpful .thumb-up {
	width: 20px;
	height: 20px;
	background-image: url(/src/img/icon/thumb_up_empty.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s ease;
}

.helpful .thumb-up:hover {
	filter: brightness(0.8);
}

.helpful .thumb-up.selected {
	background-image: url(/src/img/icon/thumb_up.png);
}

.helpful .thumb-up-count {
	color: var(--dark-gray);
	font-size: 14px;
}

#no-review {
	margin-top: 30px;
	color: var(--dark-gray);
}

#product-review-container:has(.review-container) #no-review,
#product-review-container:has(#loading-review) #no-review {
	display: none;
}

#loading-review {
	margin-top: 30px;
	color: var(--dark-gray);
	text-align: center;
}

.form-error[data-error="own_rating"] {
	margin-top: 0;
}