.form-group:has(img),
.form-group:has(textarea),
.form-group:has(tbody tr) {
	align-self: center;
}

.form-group .button-group {
	margin-top: 10px;
}

.picture-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 225px;
	height: 225px;
	cursor: pointer;
	position: relative;
}

.delete-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 18px;
	opacity: 0;
	transition: all 0.3s ease;
}

.picture-wrapper:hover .delete-preview {
	opacity: 1;
}

.picture-preview-container {
	position: relative;
	width: 450px;
	height: 450px;
	overflow: hidden;
	transform: scale(0.5);
	transform-origin: top left;
}

.picture-preview {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.picture-preview.horizontal-fit {
	height: 100%;
	object-fit: contain;
}

.picture-preview.vertical-fit {
	width: 100%;
	object-fit: cover;
}

#picture-file {
	display: none;
}

.upload-overlay .upload-drop-zone {
	width: calc(450px - 32px - 32px);
	height: calc(450px - 32px - 32px);
}

.upload-overlay .upload-preview-container {
	width: 450px;
	height: 450px;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	outline: 1px solid var(--divider-gray);
	display: none;
}

th,
td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: var(--light-green);
	color: var(--white);
	font-weight: normal;
	white-space: nowrap;
	position: relative;
	padding-right: 35px;
}

tr td {
	border-bottom: 1px solid var(--divider-gray);
	color: var(--black);
}

tr:last-child td {
	border-bottom: none;
}

th:last-child,
td:last-child {
	width: 1%;
}

td button {
	max-width: max-content;
}

td .form-group {
	margin-bottom: 0;
}

table:has(tbody tr) {
	display: table;
}
